@import "https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&family=Sniglet&display=swap";
/* ===== Global ===== */
/* Navbar */
/* Events */
/*Acá le ponemos un alto de 200px a mi ultima imagen de grid-container para que sean del mismo tamaño*/
/*Modal*/
/*iconos del footer*/
/*footer del index*/
/*galería*/
/*tablet*/
/*Index*/
/*SERVICIOS-mobile*/
/* Events */
/* explore */
/* Animations */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	color: rgb(59, 104, 163);
	text-decoration: none;
}
ul {
	list-style: none;
}
.active {
	color: #375fa9b4;
	text-decoration: underline;
	font-weight: bold;
}
body {
	overflow-x: hidden;
	font-family: 'Patrick Hand SC', cursive;
	font-family: 'Sniglet', cursive;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0;
	>h1 {
		color: #456da9;
	}
}
html {
	overflow-x: hidden;
	font-family: 'Patrick Hand SC', cursive;
	font-family: 'Sniglet', cursive;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0;
}
.header-content {
	padding-top: 0px;
	text-align: center;
}
yyy {
	#menu {
		a {
			color: #1e3293d1;
		}
	}
}
#menu {
	a {
		&:hover {
			background-color: rgba(198, 198, 198, 0.794);
			transition: all 0.1s;
			color: #456da9;
			border-radius: 30px;
			padding: 10px;
		}
	}
}
.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}
.navbar-nav {
	padding-right: 20px;
}
.nav-link {
	margin-right: 20px;
	color: #456da9;
}
.ctn {
	background: #6298cad6;
	border-radius: 30px;
	color: #f9fafb;
	font-size: 12px;
	font-weight: bold;
	padding: 8px;
	&:hover {
		background: whitesmoke;
		color: #2c5fa6;
		box-shadow: 2px 2px 5px #00000056;
		background: whitesmoke;
		color: #2c5fa6;
		box-shadow: 2px 2px 5px #00000056;
	}
}
.liContacto {
	background-color: rgba(198, 198, 198, 0.794);
	border-radius: 30px;
	a {
		margin-right: 0px;
	}
}
.line {
	width: 150px;
	height: 5px;
	background: #0579c7;
	margin: 10px auto;
	border-radius: 5px;
}
h4 {
	color: #456da9;
	margin: 20px auto;
	font-weight: bold;
}
p {
	color: #676767bf;
}
.comunity {
	color: #676767bf;
}
.textoIndex {
	font-size: 18px;
}
.events {
	.ctn {
		margin-top: 30px;
	}
}
.itemFlex1 {
	width: 500;
	height: 350px;
}
.itemFlex2 {
	width: 500;
	height: 350px;
}
.explore-content {
	width: 60%;
	padding: 50px;
	color: whitesmoke;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.btn {
	color: #ffffff;
	padding: 0.8rem;
	font-size: 16px;
	border-radius: 4px;
	font-weight: 400;
	display: block;
	width: 100%;
	cursor: pointer;
	border: 1px solid rgba(53, 124, 190, 0.694);
	background-color: rgba(184, 209, 255, 0.515);
	&:hover {
		background: #27618da9;
		border: 1px solid rgba(226, 232, 251, 0.694);
		font-weight: bold;
	}
}
.miIcon {
	&:hover {
		transform: none;
	}
}
.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #111111bd;
	display: flex;
	opacity: 0;
	pointer-events: none;
	transition: opacity .6s;
}
.modal2 {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #111111bd;
	display: flex;
	opacity: 0;
	pointer-events: none;
	transition: opacity .6s;
}
.modal--show {
	opacity: 1;
	pointer-events: unset;
	transition: opacity .6s;
}
.modal__container {
	margin: auto;
	width: 50%;
	max-width: 60%;
	background-color: #fff;
	border-radius: 3px;
	padding: 3em 2.5em;
	display: grid;
	gap: 1em;
	place-items: center;
	grid-auto-columns: 100%;
}
.modal__container2 {
	margin: auto;
	width: 50%;
	max-width: 60%;
	background-color: #fff;
	border-radius: 3px;
	padding: 3em 2.5em;
	display: grid;
	gap: 1em;
	place-items: center;
	grid-auto-columns: 100%;
}
.modal__title {
	font-size: 2.5rem;
	text-align: center;
}
.modal__paragraph {
	margin-bottom: 10px;
}
.modal__img {
	width: 50%;
	max-width: 80%;
	max-height: 90%;
	min-width: 350px;
}
.modal__close {
	text-decoration: none;
	color: white;
	background-color: #f26250;
	padding: 1em 3em;
	border: 1px solid;
	border-radius: 6px;
	display: inline-block;
	font-weight: 300;
	transition: background-color .3s;
	&:hover {
		color: #f26250;
		font-weight: bold;
		background-color: white;
	}
}
.rounded-social-buttons {
	.social-button {
		display: inline-block;
		position: relative;
		cursor: pointer;
		width: 3.125rem;
		height: 3.125rem;
		border: 0.125rem solid transparent;
		padding: 0;
		text-decoration: none;
		text-align: center;
		color: #fefefe;
		font-size: 1.5625rem;
		font-weight: normal;
		line-height: 2em;
		border-radius: 1.6875rem;
		transition: all 0.5s ease;
		margin-right: 0.25rem;
		margin-bottom: 0.25rem;
	}
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	.fa-twitter {
		font-size: 25px;
	}
	.social-button.facebook {
		background: #3b5998;
	}
	.social-button.twitter {
		background: #55acee;
	}
	.social-button.linkedin {
		background: #007bb5;
	}
	.social-button.youtube {
		background: #bb0000;
	}
	.social-button.instagram {
		background: #125688;
	}
}
.titleIndex {
	font-size: 4vmin;
	color: #456da9;
}
.fa-facebook-f {
	font-size: 25px;
}
.fa-linkedin {
	font-size: 25px;
}
.fa-youtube {
	font-size: 25px;
}
.fa-instagram {
	font-size: 25px;
}
.footer1 {
	background-color: rgb(25 81 151 / 87%);
	display: grid;
	padding: 30px;
	grid-template-columns: 62% 1fr;
}
.flexFooter {
	display: flex;
	justify-content: space-around;
	line-height: 40px;
}
.textoFooter {
	p {
		color: #ffffff;
		font-size: 20px;
		letter-spacing: 2px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}
.textoFooter.primerLinea {
	padding-bottom: 40px;
}
.line2 {
	height: 5px;
	background: #f8f9fa;
	margin: 10px auto;
	border-radius: 5px;
}
.gallary {
	grid-template-columns: 1fr;
	text-align: center;
}
.gallary__title {
	padding: 0 10px;
	margin: 50px 0;
}
.gallary__grid {
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 150px);
	grid-gap: 5px;
	padding: 10px;
}
.gallary__item {
	position: relative;
	cursor: pointer;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&:nth-child(1) {
		grid-row-start: 1;
		grid-row-end: 3;
	}
	&:nth-child(3) {
		grid-column-start: 3;
		grid-column-end: 5;
	}
	&:nth-child(4) {
		grid-column-start: 2;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 4;
	}
	&:nth-child(7) {
		grid-column: 4;
		grid-row-start: 3;
		grid-row-end: 5;
	}
	&:nth-child(8) {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row: 4;
	}
	&:hover {
		.gallary__item__description {
			opacity: 1;
			bottom: 0;
		}
	}
}
.gallary__item__description {
	position: absolute;
	bottom: -1px;
	width: 100%;
	height: 45px;
	background: rgba(62, 62, 62, 0.7);
	opacity: 0;
	transition: all 0.5s ease-in-out;
	transform: translate(1.0);
	h4 {
		color: #fbfbfb;
		font-weight: bold;
		font-size: 22px;
	}
	p {
		font-size: 14px;
		color: white;
	}
}
.gallary__button {
	padding: 50px 10px;
}
.ourteam__grid {
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	padding-bottom: 50px;
}
.ourteam__item {
	background: white;
	border: solid 3px;
	border-color: #E6F3E3;
	transition: all 0.5s ease-in-out;
	&:hover {
		transform: scaleX(1.1) scaleY(1.1);
		transition: scale(0.5seg);
		border-color: #4ab1ff;
	}
}
.ourteam__img {
	width: 100%;
	height: 240px;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.ourteam__name {
	padding: 20px 10px;
}
.grid {
	display: grid;
}
.ourteam__description {
	font-size: 16px;
	padding: 0 30px 20px;
	line-height: 1.7;
}
img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	transition: transform .3s ease;
}
li {
	&:hover {
		color: #426ca2;
		cursor: pointer;
	}
}
@media only screen and (max-width:1070px) {
	.nav-links {
		display: flex;
		flex-direction: row;
		align-items: center;
		font-size: 17px;
		li {
			margin-right: 5px;
		}
	}
	.miIcon {
		margin-top: 10px;
		min-width: 300px;
		margin-right: 0px;
		position: static;
	}
	#menu {
		a {
			font-size: 16px;
		}
	}
	.cards_item {
		width: 50%;
	}
}
@media (max-width: 1000px) {
	.menu {
		order: -1;
		perspective: 800px;
	}
	[aria-controls="menu-list"] {
		display: block;
		margin-bottom: 10px;
	}
	.aboutWe {
		background: white;
		padding: 50px;
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;
	}
	.about__details {
		display: flex;
		justify-content: center;
	}
	.cards_item {
		width: 60%;
	}
	.features {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		margin-left: 10px;
		margin-right: 10px;
	}
}
@media only screen and (max-width:900px) {
	h1 {
		font-size: 42px;
	}
	h2 {
		font-size: 22px;
	}
	.header__container {
		grid-template-columns: 1fr 2fr;
		grid-gap: 5px;
	}
	.about__text {
		p {
			line-height: 1.4;
			margin: 15px 0;
			font-size: 14px;
		}
	}
	.gallary__grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(5, 200px);
		grid-gap: 5px;
		padding: 10px;
	}
	.gallary__item {
		&:nth-child(1) {
			grid-row-start: auto;
			grid-row-end: auto;
		}
		&:nth-child(3) {
			grid-column-start: auto;
			grid-column-end: auto;
		}
		&:nth-child(4) {
			grid-column-start: auto;
			grid-column-end: auto;
			grid-row-start: auto;
			grid-row-end: auto;
		}
		&:nth-child(5) {
			grid-column-start: 1;
			grid-column-end: 3;
		}
		&:nth-child(7) {
			grid-column: auto;
			grid-row-start: auto;
			grid-row-end: auto;
		}
		&:nth-child(8) {
			grid-column-start: auto;
			grid-column-end: auto;
			grid-row: auto;
		}
	}
	.ourteam__title {
		padding: 30px 10px;
	}
	.ourteam__grid {
		grid-gap: 0;
	}
	.ourteam__img {
		height: 160px;
	}
	.ourteam__desctiption {
		padding: 0 10px 20px;
		line-height: 1.4;
	}
	.footer1 {
		background-color: rgb(25 81 151 / 87%);
		display: grid;
		padding: 30px;
		grid-template-columns: 1fr;
	}
	.rounded-social-buttons {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		padding-top: 30px;
	}
	.flexFooter {
		text-align: center;
	}
	.textoFooter {
		p {
			font-size: 17px;
		}
	}
	.fondoSeccion {
		height: 65vh;
	}
	.headerServices {
		height: 70vh;
		width: 100vw;
	}
	a.active {
		color: #7f7f7f;
		font-weight: bold;
	}
	a {
		color: #7f7f7f;
		font-weight: bold;
	}
	.mobile-menu {
		margin-top: 0px;
		border-bottom-right-radius: 30%;
		background-color: rgb(65, 106, 168);
		height: 800px;
		padding-top: 300px;
		padding-bottom: 200px;
	}
	.nav-links {
		li {
			margin: 30px auto;
		}
	}
	.row {
		flex-direction: column;
		padding-left: 25px;
		.col {
			margin: 20px auto;
		}
	}
	.col {
		img {
			max-width: 80%;
		}
	}
	.explore-content {
		width: 100%;
	}
	.tours {
		.col {
			width: 100%;
		}
	}
	.footer {
		padding: 10px;
	}
}
@media only screen and (max-width: 768px) {
	h2 {
		text-align: center;
	}
	.header__container {
		grid-template-columns: 2fr 1fr;
		grid-gap: 5px;
	}
	a.active {
		color: #3e6ea2;
		border-bottom: none;
		&:hover {
			color: #3e6ea2;
			border-bottom: none;
			&::before {
				border-bottom: none;
			}
		}
		&::before {
			border-bottom: none;
		}
	}
	.about__container {
		grid-template-columns: 1fr;
		grid-gap: 30px;
	}
	.about__button {
		text-align: center;
	}
	.ourteam__grid {
		grid-template-columns: 1fr;
		grid-gap: 10px;
	}
	.ourteam__img {
		img {
			object-position: 50% 70%;
		}
	}
	.ourteam__socials {
		opacity: 1;
	}
	.card_image {
		>img {
			max-width: 100%;
			width: 600px;
			height: 250px;
		}
	}
}
@media only screen and (max-width: 480px) {
	h1 {
		font-size: 30px;
	}
	.logo {
		font-size: 22px;
		a {
			span {
				font-size: 24px;
			}
		}
	}
	.gallary__grid {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(9, 200px);
	}
	.gallary__item {
		&:nth-child(5) {
			grid-column-start: auto;
			grid-column-end: auto;
		}
	}
	.miIcon {
		width: 300px;
	}
	.textoFooter {
		p {
			font-size: 14px;
		}
	}
}
